body {
  width: 1500px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 150px;
}
.nav-title {
  font-family: Open Sans;
  font-size: 45px;
  font-weight: 800;
  line-height: 61px;
  letter-spacing: 0%;
  text-align: left;
}
.special-color {
  color: rgb(253, 110, 10);
}
.element {
  list-style: none;
}
.element a {
  text-decoration: none;
}
.navbar .element {
  display: flex;
  align-items: center;
}
.navbar ul li .color {
  color: rgb(71, 71, 71);
}
.navbar .element li {
  margin-right: 51px;
  color: rgb(71, 71, 71);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0%;
}
.navbar .element .btn-primary {
  color: white;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
  border-radius: 5px;
  background: rgb(253, 110, 10);
  border: none;
  padding: 18px 36px;
}
.background {
  background-color: rgb(255, 248, 243);
  background-image: url(../images/developer.png), url(../images/header_bg.png);
  background-repeat: no-repeat;

  background-position: top left, bottom right;
}
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 38px 0px 150px;
}
.banner-profile-pic {
  width: 584px;
  height: 676px;
}
.banner .banner-grettings {
  color: rgb(71, 71, 71);
  font-family: Open Sans;
  font-size: 45px;
  font-weight: 600;
  line-height: 61px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: -50px;
}
.banner .banner-name {
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 85px;
  font-weight: 700;
  line-height: 116px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 20px;
}
.banner .banner-description {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 30px;
}
.banner .btn-primary {
  color: white;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
  border-radius: 5px;
  background: rgb(253, 110, 10);
  border: none;
  padding: 18px 36px;
  margin-right: 15px;
}
.about {
  background-color: rgb(255, 248, 243);
  width: auto;
  height: auto;
  margin: 130px auto 130px auto;
  padding: 130px 230px;
}
.secondary-bg .about-title {
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 35px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 30px;
}
.secondary-bg .about-description {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 30px;
}
.about-items {
  display: flex;
  justify-content: space-around;
}
.about-items .item-title {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 30px;
}
.about-items .item-description {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
}
.skill {
  width: auto;
}
.headline {
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 35px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
}
.skill-description {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
}
.skill-container {
  display: flex;
  margin: 50px auto 130px auto;
  gap: 30px;
}
.title-box {
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
}
.box-description {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}
.first-box {
  border-radius: 5px;

  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
  padding: 30px;
}
.second-box {
  padding: 30px;
  border-radius: 5px;

  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
}
.third-box {
  padding: 30px;
  border-radius: 5px;

  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
}
.fourth-box {
  padding: 30px;
  border-radius: 5px;

  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
}
.summary .title {
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 35px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 113px;
}
.edu-exp {
  display: flex;
  gap: 71px;
}
.education .edu {
  color: rgb(71, 71, 71);
  font-family: Open Sans;
  font-size: 30px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0%;
  text-align: left;
}
.first .subject {
  color: rgb(71, 71, 71);
  font-family: Open Sans;
  font-size: 25px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0%;
  text-align: left;
}
.first .university {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
}
.first .edu-description {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}
.experience .exp {
  color: rgb(71, 71, 71);
  font-family: Open Sans;
  font-size: 30px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0%;
  text-align: left;
}
.experience .dev {
  color: rgb(71, 71, 71);
  font-family: Open Sans;
  font-size: 25px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0%;
  text-align: left;
}
.experience .company {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
}
.experience .job-description {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}
.button {
  margin-top: 50px;
  text-align: center;
}
.button .btn-primary {
  color: white;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 5px;
  background: rgb(253, 110, 10);
  border: none;
  padding: 18px 36px;
  cursor: pointer;
  margin-bottom: 113px;
}
.footer-section {
  background: rgb(255, 248, 243);
  height: 500px;
  display: flex;

  justify-content: space-between;
  padding: 130px 230px 130px 150px;
  gap: 117px;
}
.right-text input {
  display: flex;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 18px 365px 18px 30px;
  background: rgb(255, 255, 255);
  border: none;
}
.right-text input > placeholder {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}
.right-text textarea {
  border-radius: 5px;
  padding: 18px 365px 134px 30px;
  background: rgb(255, 255, 255);
  border: none; 
}
.footer-section .text-style .title-text {
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 35px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
}

.des {
  color: rgb(71, 71, 71);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.right-text .title-second {
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 35px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
  
}
.btn-submit{
  color: white;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 5px;
  background: rgb(253, 110, 10);
  border: none;
  padding: 18px 36px;
  cursor: pointer;
  margin-top: 24px;
}
.text-style .icon{
  display: flex;
  gap: 25px;
  margin-top: 30px;

}